.articles-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 -7px;

  @include media-breakpoint-up(lg) {
    margin: 0 -17px;
  }

  > .loop-post,
  > .card {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    max-width: 100%;
    box-sizing: border-box;
    background: $off-white;
    border-radius: $border-radius;
    padding: 15px 15px 25px;
    margin: 0 7px 16px;

    @include media-breakpoint-up(md) {
      flex: 1 1 calc(50% - 14px);
      max-width: calc(50% - 14px);
      padding: 23px 23px 35px;
      margin-bottom: 24px;
    }

    @include media-breakpoint-up(lg) {
      flex: 1 1 calc(50% - 34px);
      max-width: calc(50% - 34px);
      margin-left: 17px;
      margin-right: 17px;
    }

    .more {
      margin-top: auto;
    }
  }
}

.articles-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 0 0;

  @include media-breakpoint-up(lg) {
    justify-content: flex-end;
    padding-top: 37px;
  }

  &.form-revealed {
    .sform {
      display: flex;
    }

    .btn-search {
      display: none;
    }
  }

  button {
    background: transparent;
    padding: 0;
    border: 0 none;
    font-size: 34px;
    color: $primary;
    cursor: pointer;
    margin: 0 5px;

    &:before {
      font-size: 33px;
    }
  }

  .sform {
    display: none;
    align-items: center;
    width: 100%;
    max-width: 300px;

    @include media-breakpoint-up(lg) {
      position: relative;
      display: none;
      width: 50%;
      max-width: none;
      margin-right: 5px;
    }

    input {
      flex: 1;
      margin-right: 13px;
      border-width: 0 0 1px;
      border-radius: 0;
      border-color: $primary;
      padding: 0;
      font-size: 14px;
      height: 34px;
      line-height: 34px;
      padding-top: 5px;
      letter-spacing: .5px;

      &::placeholder {
        color: $primary;
      }

      @include media-breakpoint-up(lg) {
        border-width: 1px;
        border-radius: 17px;
        font-size: 16px;
        letter-spacing: 1.5;
        padding: 5px 52px 0 15px;
        margin: 0;
      }
    }

    button {
      text-align: center;
      width: 34px;
      height: 34px;
      line-height: 34px;
      background: $primary;
      color: $white;
      font-size: 14px;
      border-radius: 50%;
      margin: 0;

      @include media-breakpoint-up(lg) {
        position: absolute;
        right: 2px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        background: transparent;
        color: $primary;
      }
    }
  }
}

.st-articles-latest {
  .st-title {
    text-align: center;
    font-size: 32px;
    line-height: 1.1875;
    padding: 0 20px;
    margin: 0 0 20px;

    @include media-breakpoint-up(lg) {
      font-size: 40px;
      line-height: 1.2;
      margin: 0 0 35px;
      padding: 0;
      text-align: left;
    }
  }
}

$intro-box-margin-right: 215px;

.st-articles-by-tag {
  .wrap {
    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: space-between;
    }
  }

  .intro {
    margin: 0 0 30px;

    @include media-breakpoint-up(lg) {
      width: calc(50% - #{$intro-box-margin-right});
      margin-bottom: 0;
    }

    .title {
      @include media-breakpoint-up(lg) {
        display: flex;
      }

      .bar {
        background: $primary;

        @include media-breakpoint-up(lg) {
          flex: 1;
        }
      }

      .titlebar {
        font-size: 20px;
        line-height: 1.1;
        margin: 0;
        padding: 18px;

        @include media-breakpoint-up(md) {
          font-size: 25px;
        }

        @include media-breakpoint-up(lg) {
          font-size: 30px;
          text-align: left;
          padding: 19px 0;
          width: $container-lg / 2 - $intro-box-margin-right;
        }

        @include media-breakpoint-up(xl) {
          width: $container-xl / 2 - $intro-box-margin-right;
        }
      }
    }

    .desc {
      background-color: $ice-blue;

      @include media-breakpoint-up(lg) {
        border-radius: 0 0 $border-radius 0;
        display: flex;
        justify-content: flex-end;
      }

      .inn {
        padding: 30px 35px;

        @include media-breakpoint-up(lg) {
          width: $container-lg / 2 - $intro-box-margin-right;
          padding: 30px 35px 30px 0;
        }

        @include media-breakpoint-up(xl) {
          width: $container-xl / 2 - $intro-box-margin-right;
          padding: 35px 45px 40px 0;
        }

        .format {
          text-align: center;

          @include media-breakpoint-up(md) {
            max-width: 65%;
            margin: 0 auto;
          }

          @include media-breakpoint-up(lg) {
            max-width: none;
            text-align: unset;
          }
        }
      }
    }
  }

  .articles-grid {
    @include media-breakpoint-up(lg) {
      width: calc(50% + #{$intro-box-margin-right} - 30px);
      margin: 0 -7px;
    }

    > .loop-post {
      @include media-breakpoint-up(md) {
        padding: 23px 23px 40px;
      }

      @include media-breakpoint-up(lg) {
        flex: 1 1 calc(50% - 14px);
        max-width: calc(50% - 14px);
        margin-left: 7px;
        margin-right: 7px;
      }
    }
  }

  .articles-search {
    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
    }
  }
}

.st-related-articles {
  // Card box styles live in _caro-21.scss (shared with .st-caro-21)
}

.st-manual-cards {
  .cards-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;

    @include media-breakpoint-up(lg) {
      margin: 0 -17px;
    }
  }

  .card {
    flex: 1 1 100%;
    max-width: 100%;
    margin: 0 0 16px;
    padding: 15px 15px 25px;
    box-sizing: border-box;
    background: $off-white;
    border-radius: $border-radius;
    height: 100%;

    @include media-breakpoint-up(md) {
      flex: 1 1 50%;
      max-width: 50%;
      margin-bottom: 24px;
      padding: 23px 23px 35px;
    }

    @include media-breakpoint-up(lg) {
      padding-left: calc(17px + 15px);
      padding-right: calc(17px + 15px);
    }

    .image {
      height: 170px;
      border-radius: $border-radius;
      background-repeat: no-repeat;
      background-color: $ice-blue;
      background-position: center;
      background-size: cover;
      margin-bottom: 25px;

      @include media-breakpoint-up(md) {
        height: 250px;
        margin-bottom: 33px;
      }
    }

    .title {
      font-size: 18px;
      line-height: 1.167;
      margin: 0 0 10px;

      @include media-breakpoint-up(md) {
        margin-bottom: 33px;
        font-size: 22px;
        line-height: 1.1818;
      }
    }

    .subtitle {
      font-size: 10px;
      letter-spacing: 1.5px;
      font-weight: $font-weight-bold;
      margin: 0 0 15px;

      @include media-breakpoint-up(md) {
        font-size: 12px;
        margin-bottom: 20px;
      }
    }
  }
}
