.st-carousel-content {
  padding-bottom: 50px;
  @include media-breakpoint-up(md) {
    padding-bottom: 80px;
  }
  .items-carousel {
    width: 288px;
    margin: 0 auto;
    // padding-bottom: 30px;
    @include media-breakpoint-up(md) {
      width: 600px;
      margin: 0 -32px 0 0;
    }
    @include media-breakpoint-up(lg) {
      width: 900px;
    }
    @include media-breakpoint-up(xl) {
      width: auto;
    }
    .slick-list {
      overflow: visible;
      .slick-track {
        .slick-slide {
          outline: none;
          @include media-breakpoint-up(md) {
            padding-right: 32px;
          }
          .item {
            margin: 0 auto;
          }
        }
      }
    }
  }
  .items-carousel-top,
  .items-carousel-btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 268px;
    margin: 0 auto;
    @include media-breakpoint-up(md) {
      width: auto;
    }
    .items-carousel-dots {
      .slick-dots {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        margin-left: -3px;
        margin-right: -3px;
        li {
          line-height: 10px;
          padding: 0 3px;
          &.slick-active {
            button {
              background: $primary;
            }
          }
          &:only-child {
            display: none;
          }
          button {
            border: 1px solid $primary;
            background: transparent;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            padding: 0;
            text-indent: -9999px;
            outline: none;
            transition: all .3s ease;
          }
        }
      }
    }
    .items-carousel-navs {
      button {
        border: 1px solid $primary;
        color: $primary;
        background: transparent;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        padding: 0;
        margin: 0 5px;
        transition: all .3s ease;
        outline: none;
        &:hover {
          background: $primary;
          color: $white;
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .items-carousel-top {
    margin-bottom: 30px;
  }
  .item {
    width: 268px;
    text-align: center;
    @include media-breakpoint-up(md) {
      text-align: unset;
    }
    .hero {
      height: 195px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 18px;
      margin: 0 0 20px;
      @include media-breakpoint-up(md) {
        height: 192px;
        margin-bottom: 23px;
      }
    }
    .hero-img {
      margin-bottom: 20px;
      @include media-breakpoint-up(md) {
        margin-bottom: 23px;
      }
    }
    h3.title {
      font-size: 18px;
      line-height: 1.12;
      font-weight: $font-weight-bold;
      color: $primary;
      margin: 0 0 15px;
      @include media-breakpoint-up(md) {
        font-size: 25px;
        color: $black;
        margin-bottom: 20px;
      }
    }
    .desc {
      margin-bottom: 20px;
    }
    .consider {
      background: $white;
      border-radius: 18px;
      box-shadow: 4px 4px 15px 0 rgba($black, .2);
      padding: 24px;
      h4.title {
        color: $primary;
        font-size: 16px;
        margin: 0 0 15px;
      }
    }
  }
}
