$intro-box-margin-right: 215px;
.st-caro-19 {
  .wrap {
    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: space-between;
    }
  }
  .intro {
    margin: 0 0 30px;
    @include media-breakpoint-up(lg) {
      width: calc(50% - #{$intro-box-margin-right});
      margin-bottom: 0;
    }
    .title {
      @include media-breakpoint-up(lg) {
        display: flex;
      }
      .bar {
        background: $primary;
        @include media-breakpoint-up(lg) {
          flex: 1;
        }
      }
      .titlebar {
        font-size: 20px;
        line-height: 1.1;
        margin: 0;
        padding: 18px;
        @include media-breakpoint-up(md) {
          font-size: 25px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 30px;
          text-align: left;
          padding: 19px 0;
          width: $container-lg / 2 - $intro-box-margin-right;
        }
        @include media-breakpoint-up(xl) {
          width: $container-xl / 2 - $intro-box-margin-right;
        }
      }
    }
    .desc {
      background-color: $ice-blue;
      @include media-breakpoint-up(lg) {
        border-radius: 0 0 $border-radius 0;
        display: flex;
        justify-content: flex-end;
      }
      .inn {
        padding: 30px 35px;
        @include media-breakpoint-up(lg) {
          width: $container-lg / 2 - $intro-box-margin-right;
          padding: 30px 35px 30px 0;
        }
        @include media-breakpoint-up(xl) {
          width: $container-xl / 2 - $intro-box-margin-right;
          padding: 35px 45px 40px 0;
        }
        .format {
          text-align: center;
          @include media-breakpoint-up(md) {
            max-width: 65%;
            margin: 0 auto;
          }
          @include media-breakpoint-up(lg) {
            max-width: none;
            text-align: unset;
          }
        }
      }
    }
  }
  .slides-wrapper {
    @include media-breakpoint-up(lg) {
      width: calc(50% + #{$intro-box-margin-right} - 30px);
    }
    .slides {
      width: 276px;
      margin: 0 auto;
      @include media-breakpoint-up(md) {
        width: auto;
        max-width: $container-md;
      }
      @include media-breakpoint-up(lg) {
        height: 100%;
        max-width: none;
      }
      .slick-list {
        overflow: visible;
        @include media-breakpoint-up(lg) {
          overflow: hidden;
          height: 100%;
        }
        .slick-track {
          display: flex;
          align-items: stretch;
          @include media-breakpoint-up(lg) {
            height: 100%;
          }
        }
      }
      .slide {
        padding: 0 8px;
        height: auto;
        @include media-breakpoint-up(lg) {
          padding: 0 32px 0 0;
        }
      }
    }
    .loop-post {
      background: $off-white;
      border-radius: $border-radius;
      padding: 15px 15px 30px;
      height: 100%;
      @include media-breakpoint-up(md) {
        padding: 23px 23px 40px;
      }
      @include media-breakpoint-up(lg) {
        width: 370px;
      }
    }
  }
  .slides-controls {
    padding-top: 23px;
    display: flex;
    justify-content: center;
    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
      padding-top: 19px;
      margin-right: -5px;
    }
    &.form-revealed {
      .sform {
        display: flex;
      }
      .btn-search {
        display: none;
      }
      .btn-play {
        display: none;
        @include media-breakpoint-up(lg) {
          display: block;
        }
      }
      .slides-nav {
        display: none;
        @include media-breakpoint-up(lg) {
          display: flex;
        }
      }
    }
    button {
      border: 0 none;
      background: transparent;
      padding: 0;
      font-size: 34px;
      cursor: pointer;
      color: $primary;
      margin: 0 5px;
      &:before {
        font-size: 33px;
      }
    }
    .slides-nav {
      display: flex;
    }
    .sform {
      display: none;
      align-items: center;
      width: 100%;
      max-width: 300px;
      @include media-breakpoint-up(lg) {
        position: relative;
        width: 50%;
        max-width: none;
        margin-right: 5px;
      }
      input {
        flex: 1;
        margin-right: 13px;
        border-width: 0 0 1px;
        border-radius: 0;
        border-color: $primary;
        padding: 0;
        font-size: 14px;
        height: 34px;
        line-height: 34px;
        padding-top: 5px;
        letter-spacing: .5px;
        &::placeholder {
          color: $primary;
        }
        @include media-breakpoint-up(lg) {
          border-width: 1px;
          border-radius: 17px;
          height: 34px;
          font-size: 16px;
          letter-spacing: 1.5;
          padding: 5px 52px 0 15px;
          margin: 0;
        }
      }
      button {
        text-align: center;
        width: 34px;
        height: 34px;
        line-height: 34px;
        background: $primary;
        color: $white;
        font-size: 14px;
        border-radius: 50%;
        margin: 0;
        @include media-breakpoint-up(lg) {
          position: absolute;
          right: 2px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 18px;
          background: transparent;
          color: $primary;
        }
      }
    }
  }
}
