.st-enquire-buttons {
  .st-title {
    text-align: center;
    padding: 0 10%;
    margin: 0 0 40px;
    @include media-breakpoint-up(lg) {
      padding: 0;
      text-align: left;
      font-size: 40px;
      line-height: 1.5;
      margin-bottom: 20px;
    }
  }
  .btns {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &.ttl-1 {
      li {
        @include media-breakpoint-up(md) {
          width: 100%;
        }
        h4 {
          @include media-breakpoint-up(md) {
            margin: 0;
          }
        }
        .inn {
          @include media-breakpoint-up(md) {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }
    li {
      background: $off-white;
      border-radius: $border-radius;
      padding: 15px 17px 14px;
      display: flex;
      align-items: center;
      margin: 0 0 20px;
      @include media-breakpoint-up(md) {
        width: calc(50% - 10px);
      }
      @include media-breakpoint-up(lg) {
        width: calc(50% - 15px);
        padding: 15px 32px 14px 17px;
        margin-bottom: 30px;
      }
      &:last-child {
        margin-bottom: 0;
        @include media-breakpoint-up(md) {
          margin-bottom: 20px;
        }
        @include media-breakpoint-up(lg) {
          margin-bottom: 30px;
        }
      }
      .icon {
        width: 96px;
        height: auto;
        margin-right: 30px;
      }
      h4 {
        font-size: 22px;
        line-height: 1.2;
        font-family: $font-family-sans-serif;
        margin: 0 0 5px;
        @include media-breakpoint-up(lg) {
          margin: 0;
        }
      }
      .inn {
        @include media-breakpoint-up(lg) {
          flex: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
