.st-faqs {
  padding: 50px 0;
  @include media-breakpoint-up(md) {
    padding: 53px 0 67px;
  }
  .st-title {
    margin-bottom: 16px;
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left;
      font-size: 40px;
    }
  }
  .desc {
    margin-bottom: 30px;
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }
  .faqs-wrapper {
    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: space-between;
      .left-col, .right-col {
        width: calc(50% - 15px);
      }
    }
    .right-col {
      @include media-breakpoint-down(md) {
        .faq {
          &:first-child {
            border-top: 0 none;
          }
        }
      }
    }
  }
  .faqs-loader {
    padding-top: 40px;
    text-align: center;
    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }
  .loading {
    display: inline-block;
    border: 1px solid $gray-500;
    border-radius: $border-radius;
    line-height: 19px;
    color: $gray-500;
    padding: 7px 19px;
    height: auto;
    font-style: italic;
  }
}
