.st-text-strip {
  padding: 22px 0;
  @include media-breakpoint-up(md) {
    padding: 27px 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 32px 0;
  }
  .title {
    font-family: $font-family-fsme-bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin: 0;
    padding: 0 20px;
    @include media-breakpoint-up(md) {
      font-size: 25px;
      line-height: 1.1;
      padding: 0;
    }
    @include media-breakpoint-up(lg) {
      font-size: 30px;
      line-height: 1.1;
    }
  }
}
