#footer {
  border-top: 1px solid $danger;
  .footer-logos {
    background: $white;
    padding: 50px 0;
    .container {
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
    .inn {
      @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    h3.title {
      font-family: $font-family-fsme-bold;
      font-size: 18px;
      line-height: 23px;
      margin: 0 0 16px;
      text-align: center;
      @include media-breakpoint-up(md) {
        width: 125px;
        text-align: left;
        margin-bottom: 0;
      }
    }
    .logos-slider-wrapper {
      flex: 1;
      overflow: hidden;
      @include media-breakpoint-up(md) {
        margin-left: 30px;
      }
      @include media-breakpoint-up(lg) {
        margin-left: 50px;
      }
    }
    .logos-slider {
      .item {
        padding: 0 20px;
        @include media-breakpoint-up(md) {
          padding: 0;
          margin-right: 40px;
        }
      }
      .slick-slide {
        img {
          max-width: 168px;
          max-height: 52px;
        }
      }
      .slick-track {
        display: flex;
        align-items: center;
      }
    }
    .logos-carousel-arrows {
      padding-top: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        border: 0 none;
        padding: 0;
        background: transparent;
        font-size: 34px;
        margin: 0 5px;
        color: $gray-800;
        &:before {
          font-size: 33px;
        }
      }
    }
  }
  .footer-widgets {
    background-color: $off-white;
    padding: 55px 0 88px;
    .inn {
      @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: space-between;
      }
    }
    .widget {
      margin-bottom: 50px;
      @include media-breakpoint-up(lg) {
        width: 22.8205%;
        margin-bottom: 0;
      }
      h3.title {
        font-family: $font-family-fsme-bold;
        margin: 0 0 15px;
        font-size: 20px;
        @include media-breakpoint-up(lg) {
          font-size: 22px;
        }
      }
      a {
        color: $greyish-blown;
        text-decoration: underline;
      }
    }
    .widget_text {
      text-align: center;
      @include media-breakpoint-up(lg) {
        text-align: initial;
      }
      &:first-child {
        .textwidget {
          max-width: none;
          line-height: 1.625;
        }
      }
      .textwidget {
        line-height: 1.25;
        margin: 0 auto;
        max-width: 75%;
        @include media-breakpoint-up(lg) {
          max-width: none;
          line-height: 1.625;
        }
        p {
          img {
            vertical-align: top;
            max-width: 100%;
            height: auto !important;
            margin: 0 5px 5px 0;
            @include media-breakpoint-up(lg) {
              margin: 0 10px 5px 0;
            }
          }
        }
        .social-icons {
          display: none;
          @include media-breakpoint-up(lg) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            font-size: 27px;
            padding-top: 5px;
          }
          a {
            text-decoration: none;
            margin: 0 13px 5px 0;
          }
        }
      }
    }
    .widget_nav_menu {
      display: none;
      @include media-breakpoint-up(lg) {
        display: block;
      }
      nav {
        line-height: 1.625;
        ul.menu {
          list-style-type: none;
          margin: 0;
          padding: 0;
          a {
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
            &.sub-menu-toggle {
              font-size: 6px;
              line-height: 1;
              margin-left: 7px;
              position: relative;
              &:hover {
                text-decoration: none;
              }
              &.rotated {
                &:before {
                  transform: rotate(180deg);
                }
              }
              &:before {
                position: absolute;
                top: -2px;
                font-family: icomoon;
                content: "\e910";
                transition: all .3s ease;
              }
            }
          }
          .sub-menu {
            list-style-type: none;
            margin: 0;
            padding: 0 0 0 15px;
            display: none;
          }
        }
      }
    }
  }
  .copyright {
    display: none;
    opacity: .6;
    padding: 20px 0;
    background-color: $light;
    color: $gray-800;
    font-size: 14px;
    line-height: 20px;
    @include media-breakpoint-up(lg) {
      display: block;
    }
    .inn {
      display: flex;
    }
    .copyright-text {
      margin-right: 10px;
    }
    .legal-menu {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      li {
        padding-right: 8px;
        &:before {
          content: "|";
          margin-right: 8px;
        }
      }
    }
    a {
      color: $gray-800;
      text-decoration: none;
      &:hover {
        color: $black;
      }
    }
  }
}
